*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
/* colori */
.start{
    color:white ;
    padding: 10px 15px;
    background-color: #0061FF;
    margin-bottom: 5px;
    display: block;
    
}
.white{color: white;}

.black-text{
    color: black;
}
.brown{
    color: #61082B;
}
.azzure{
   background-color:#B4D0E7 ;
}
.bg-black{background-color: black;}
.bg-green{
    border: 20px solid #D1E9CD;
    background-color: #A2D39B;
}
.bg-brown{background-color:#61082B ; }
.bg-lgt-blue{background-color:#0093CE ;}
.bg-lgt-red{background-color:#FF1C1C ;}
.bg-red{background-color:#D5001F ;}
.bg-heavenly{background-color:#B4D0E7 ;}
.bg-blue{background-color: #0D2481;}
.bg-yellow{background-color:#FFD830 ;}
/* Margini */
.mg-10{
    margin-top: 10px;
}
.mg-20{
    margin-top: 20px;
}
.mg-40{
    margin-top: 40px;
}
.mg-50{
    margin-top: 50px;
}

body{
    padding-top: 70px;
}
/* header */
header{
    height: 70px;
    box-shadow: 0 0 3px #666;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;

    
}
header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar>div{
    flex-basis: 25%;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    list-style-type: none;
}
#logo{
    height: 30px;
    display: block;
    margin: 0 auto;  
}
.main-menu{
    padding-right: 20px;
}

.user-menu li{
    margin-left: 10px;
}
a{
    text-decoration: none;
    color: #666;
}
/* jumbotron */
#jumbotron{
    height: 700px;
    width: 100%;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    

}
#jumbotron .content{
 width: 50%;
 border: 2px solid black;
 height: 600px;
}

h1{font-size: 60px;
    padding: 20px;

}
.info{
    height: 88%;
    width: 38%;
    font-size: 18px;
}
.info img{
    width: 100%;
}
/* main */
.container-x{
    padding-top: 100px;
    width: 1500px;
    margin: 0 auto; 
    display: flex;
    text-align: left;
    flex-direction: column;
    text-align: left;
}
.plane{
    font-size: 28px;
}
.choose{
    vertical-align: middle;
    padding-right: 50px;
}
.circle{
    border: 1px solid grey;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.check{
    border: 6px solid #0061FF;
    
}
/* colonne */
.container-x .column{
    display: flex;
    width: 1500px;
    justify-content: space-between;
    
}
.tariff-plan{
    border: 2px solid black;
    
    flex-direction: column;
    width: calc(100% / 3 - 60px);
}
.single{
    text-align: center;
    padding: 5px 0;
    border: 2px solid black;
    

}
.tariff-plan ul{
    list-style-type: none;
}
.column .col-x{
    margin-left: 20px;  
}

li i{
    padding: 5px;
}

.plane{
    font-size: 28px;
}
.choose{
    vertical-align: middle;
    padding-right: 50px;
}
.circle{
    border: 1px solid grey;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.check{
    border: 6px solid #0061FF;
    
}
.line{
    border: 1px solid gray;
    width: 58px;
}
.type{
    padding-top: 20px;
    padding-bottom: 40px;
}

.offers {
    color: #0362FF;
}
/* team */
.team{
    border: 2px solid black;
    text-align: center;
    
}
.sub-team{
    border:2px solid black;
    text-align: center;
    
}
.enterprise{
    
    display: flex;
    justify-content: space-between;
    text-align: start;

}

.family{
    width: 1500px;
    padding-top: 200px;
    margin: 0 auto;
    display: flex;
}
.partner{
    width: 60%;
}

.partner img{
    width:100%;
}
.partner-txt{
    width: 30%;
    padding-left:30px ;
}
.partner-txt h2{
    font-size: 30px;
}
.sub-title{
    width: 1500px;
    margin: 0 auto;
    padding-top: 200px;
}
.business{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    margin: 0 auto;
}
.col-business{
    width: calc(100% / 3 - 60px);
}
.col-business img{
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 100%;
    padding-top: 200px;
}
.row{
    display: flex;
    margin: 0 auto ;
    width: 100%;
    flex-wrap: wrap; 
}
.col{
    display: flex;
    margin: 0;
    width: calc(100% / 3);
    flex-wrap: wrap;
}
.row-1{
    display: flex;
    width: 50%;
    height: calc(100vw / 8);
    position: relative;
    
}
.row-1 img
{
    width: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.txt{
    padding: 40px;
    padding-right: 80px;
}
.row-logo img{
    width: 75%;
}
.min-hr{
    width: 36%;
    border-top: 1px solid black;
    margin: 60px 0;
    
}
.free-trial
{
    display: flex;
    margin: 0 auto;
    background-color:#B4D0E7;
    justify-content: space-around;
    padding:100px;
}
.free-trial h2{
    width: 20%;
    font-size: 35px;
}
.free-trial a{
    
    padding: 15px 50px;
    background-color: white;
}
.faq{
    width: 1500px;
    padding-top: 400px;
    margin: 0 auto;
    display: flex;
}
.faq ul{
    list-style-type: none;
    padding-top: 100px;
    
}
.faq li{
    border:solid grey;
    border-width: 2px 0;
    padding: 50px 0px;
    display: flex;
}
.row .coll{
 display: flex;

}

.footer-top{
    width: 70%;
     padding: 30px;
     margin: 0 auto;
    display: flex;
     justify-content: space-between;
    align-content: center;
}

.note{
    display: flex;
    flex-basis: 100%;
}
.note ul{
    flex-basis: 25%;
}
.note h3{
    font-size: 30px;
}
.white p{
    padding-left: 10px;
    vertical-align: middle;
}
.white i {
    color: white;
    margin-bottom: 1px;
    padding-left: 5px;
}